<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestForPath.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestForPath.Properties.Settings>
            <setting name="TestPathsToTest" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>c:\Users</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PromptToEnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnotherPath" serializeAs="String">
                <value>\\application-s3\Lifecodatafiles\CS15Feed\prod</value>
            </setting>
            <setting name="PathsToTest" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\\application-s3\Lifecodatafiles\CS15Feed\prod</string>
                    </ArrayOfString>
                </value>
            </setting>
        </TestForPath.Properties.Settings>
    </applicationSettings>
</configuration>